body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #AEF3E7;
    font-family: 'Gemunu Libre', sans-serif;
}
#board{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    height: 450px;
}
.square{
    display: flex;
    border: 1px solid #254E70;
    width: 148px;
    height: 148px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #37718E;
    font-weight: bolder;
}
.square:hover{
    background-color: #6da097;;
}